.side-Drawer{
    height: 100%;
    background: white;
    box-shadow:2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
}

.side-Drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.side-Drawer li {
    margin:0.5rem 0;
}

.side-Drawer a {
    color: blue;
    text-decoration: none;
}

.side-Drawer a:hover,
.side-Drawer a:active {
    color:#676767;
}
